li
{
  margin-bottom: 10px;
}

button[type="button"]
{
  font-size: 8px;
  margin-left: 20px;
  color:  #666;
}

button[type="button"] :focus
{
  font-size: 8px;
  margin-left: 20px;
  color:  #666;
}


input[type="reset"]
{
  font-size: 8px;
  margin-left: 20px;
  color: #666;
}
